[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=Live Magic
Comment=Debian Live configuration utilitu
Icon=debian-logo.png
Exec=/usr/bin/live-magic
Categories=Application;Tools;
