Source: live-magic
Section: misc
Priority: optional
Maintainer: Debian Live <debian-live-maint@lists.alioth.debian.org>
Uploaders: Chris Lamb <chris@chris-lamb.co.uk>, Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>= 5), cdbs, python-dev, python-support, live-helper
Standards-Version: 3.7.2
Homepage: http://debian-live.alioth.debian.org/
XS-Upstream-Depends: git-core
XS-Vcs-Git: git://git.debian.org/git/users/lamby-guest/live-magic.git
XS-Vcs-Browser: http://git.debian.org/?p=users/lamby-guest/live-magic.git

Package: live-magic
Architecture: all
Depends: live-helper, python-glade2 (>= 2.10), python-gtk2, python-vte, python-yaml, ${python:Depends}
Recommends: python-gnome2-desktop
Description: Debian Live helper programs (gui frontend)
 Live-helper is a collection of programs that can be used to build Debian Live
 system images. The philosophy behind live-helper is to provide a collection of
 small, simple, and easily understood tools that can be used in your own program
 to automate building of a Live system.
 .
 A typical program that uses live-helper will call several live-helper commands
 in sequence. Live-helper commands are all named with a "lh_" prefix.
 .
 This package contains the gui frontend.
