#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

upstream:
	cd .. && git clone git://git.debian.org/git/users/lamby-guest/live-magic.git || true
	rm -rf ../live-magic/.git
